.popup-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 6px; /* Reduced padding */
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
  width: auto; /* Automatically adjust width */
  white-space: nowrap; /* Prevent line breaks */
  gap: 8px; /* Added gap between the buttons */
}

.icon-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 4px; /* Reduced padding */
  border-radius: 50%;
  transition: background-color 0.3s;
}

.icon {
  color: #303035;
  font-size: 18px; /* Reduced font size */
  transition: transform 0.2s, color 0.2s;
}

.icon-button:hover .icon {
  transform: scale(1.2);
  color: #2563eb;
}

.icon-button:hover {
  background-color: #f3f4f6;
}

.divider {
  width: 1px;
  height: 18px; 
  background-color: #e5e7eb;
  margin: 0 ; 
}

.icon-button:hover {
  display: block;
  opacity: 1;
}


